# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# 빌드 출력물
Debug/
Release/
x64/
x86/
ipch/
*.obj
*.pch
*.pdb
*.exe
*.ilk
*.log

# 기타
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
